nav {
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.menu-text{
    color: #111111;
    font-size: 18px !important;
    font-weight: 600;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: white;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
}

@media (max-width: 1100px) and (min-width: 967px) {
    .side-menu {
        width: 250px;
    }
}

/* Closed (Collapsed) Menu (Only on Mobile) */
@media (max-width: 967px) {
    .side-menu.closed {
        transform: translateX(-100%);
    }

    .side-menu.open {
        transform: translateX(0);
    }
}

/* Set width to 320px for screen sizes above 1200px */
@media (min-width: 1200px) {
    .side-menu {
        width: 310px;
    }
}

@media (max-width: 968px) {
    .side-menu {
        width: 190px;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #f0eded;
}

.menu-icon {
    width: 30px;
    margin-right: 10px;
}

.toggle-btn {
    position: fixed;
    top: 8px;
    left: 8px;
    background: #22CCB2;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1003;
}

@media (min-width: 768px) {
    .toggle-btn {
        display: none;
    }
}

.user-profile {
    margin-top: auto;
    padding: 15px;
    background: white;
    cursor: pointer;
}
